body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 52px;
    font-weight: bold;
}

h2 {
    font-size: 42px;
    font-weight: bold;
}

h4 {
    font-size: 22px;
    font-weight: 300;
}

.breadcrumbs.home-page {
    display: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.breadcrumb .breadcrumbs {
    margin: 30px 0 0 0;
}

.breadcrumb .container {
    display: flex;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:last-child {
    pointer-events: none;
}

.breadcrumb span {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    position: relative;
    margin: 0 10px 0 0;
}

.breadcrumb span:after {
    content: '/';
    position: absolute;
    top: 0;
    right: -9px;
}

/*catalog*/
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog .item-catalog {
    width: 240px;
    margin: 0 0 33px 0;
    position: relative;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    transition: .3s;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.catalog .item-catalog:hover {
    border: 1px solid #FF7901;
    transition: .3s;
}

.catalog .item-catalog .catalogCard-info .info-title {
    font-weight: 100;
}

.catalog .item-catalog .catalogCard-info .info-price {
    font-weight: bold;
    margin: 0;
}

.catalog .item-catalog .catalog-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
}

.catalog .item-catalog .catalog-product .catalog-img img {
    width: 100%;
}

.catalog .productSticker {
    position: absolute;
    top: 0;
    left: 0;
}

.catalog .productSticker .productView {
    display: table-caption;
}

.catalog .productSticker .productSticker-item__promo {
    background: #e93f11;
    color: #ffffff;
    font-size: 10px;
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}

.catalog .productSticker .productSticker-item__new {
    background: #3da5ca;
    color: #ffffff;
    font-size: 10px;
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}

.catalog .productSticker .productSticker-item__popular {
    background: #7baf35;
    color: #ffffff;
    font-size: 10px;
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}

.btn-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}

.catalog .productSticker .productSticker-item__promo p,
.catalog .productSticker .productSticker-item__new p,
.catalog .productSticker .productSticker-item__popular p {
    margin: 0;
    line-height: 15px;
    font-size: 10px;
}

.productSticker .productSticker-item__promo.sale {
    background: #e93f11;
}

.productSticker .productSticker-item__promo.hit {
    background: #3da5ca;
}

.productSticker .productSticker-item__promo.new {
    background: #7baf35;
}

.content .productSticker .productSticker-item__promo.sale {
    background: #e93f11;
}

.content .productSticker .productSticker-item__promo.hit {
    background: #3da5ca;
}

.content .productSticker .productSticker-item__promo.new {
    background: #7baf35;
}

.catalog-img img {
    width: 100%;
}

/*catalog*/
.btn-product .btn-buy.inBasket {
    pointer-events: none;
}

.btn-product .btn-buy.inBasket button {
    background: #ffffff;
    border: 1px solid #e92f11;
    color: #e92f11;
    pointer-events: none;
}

@media (max-width: 1390px) {
    .brand .wrapBrand .btn-more-brand {
        display: block;
    }
}
