.sideMenu-list .sideMenu-t a {
    padding: 0 0 0 5px;
}

.sideMenu-list .sideMenu-t.active a {
    pointer-events: none;
    background: #f4f4f4;
    padding: 5px;
}

.contacts .wrap {
    display: flex;
}

.contacts .wrap .street {
    margin: 0 0 0 100px;
}

.contacts .info p {
    color: #272727;
    font-size: 17px;
    line-height: 22px;
}

.contacts .info a {
    text-decoration: none;
    color: #272727;
    font-size: 17px;
    line-height: 22px;
}

.contacts .num {
    position: relative;
    margin: 0 0 0 25px;
}

.contacts #icon-phone,
.contacts #icon-email,
.contacts #icon-viber,
.contacts #icon-telegram,
.contacts #icon-skype,
.contacts #icon-whatsapp {
    width: 20px;
    opacity: .6;
    left: -25px;
    position: absolute;
}

.contacts .mail,
.contacts .skype,
.contacts .viber,
.contacts .telegram,
.contacts .whats-app {
    position: relative;
    margin: 15px 0 15px 25px;
}

.info-page .sortPanel {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 0 0 20px 0;
}

/*.info-page .sortPanel .filter-iconList ul {*/
/*    padding: 10px 10px 10px 30px;*/
/*    position: absolute;*/
/*    background: #ffffff;*/
/*    z-index: 5;*/
/*    left: 0;*/
/*    top: 3px;*/
/*    display: none;*/
/*}*/
/*.info-page .sortPanel .wrap-icon:hover .filter-iconList ul{*/
/*    display: block;*/
/*}*/
/*.info-page .sortPanel .filter-iconList ul li{*/
/*    list-style-type: none;*/
/*    font-size: 12px;*/
/*}*/

.article-text .main-content {
    width: 100%;
}

.article-text .sortPanel .sort {
    display: flex;
    align-items: center;
}

.article-text .sortPanel .sort .sortList {
    width: 200px;
}

.article-text .sortPanel .filter {
    display: flex;
    align-items: center;
}

.article-text .sortPanel .filter .wrap-icon {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 0 30px;
}

.article-text .sortPanel .filter .wrap-icon .filter-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.article-text .sortPanel .filter .wrap-icon .filter-iconList {
    width: 130px;
    margin: 0 0 0 15px;
}

.article-text .sortPanel .filter-title {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
}

.article-text .sortPanel .filter-icon span {
    position: relative;
    display: block;
}


.article-text .sort .filter-title-sort {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    margin: 0 20px 0 0;
}

.article-text .sortPanel .filterParams {
    display: flex;
    align-items: center;
    position: relative;
}

.article-text .sortPanel .filterParams .filter-price {
    display: none;
}

.article-text .sortPanel .filterParams .wrap-price {
    margin: 0 0 0 30px;
}

.article-text .sortPanel .filter-price-title {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.article-text .sortPanel .wrap-price.active + .filter-price {
    display: flex;
    align-items: center;
    padding: 35px;
    position: absolute;
    height: 50px;
    background: #ffffff;
    z-index: 5;
    box-shadow: 0 4px 10px rgba(4, 5, 6, 0.3);
    top: 38px;
    left: 78%;
    width: 300px;
}

.article-text .sortPanel .filter-price-title span {
    position: relative;
    display: block;
}

.article-text .sortPanel .filter-price-title span:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    transform: rotate(-48deg);
    background: #cfcfcf;
    top: 0;
    left: 7px;
}

.article-text .sortPanel .filter-price-title span:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    transform: rotate(48deg);
    background: #cfcfcf;
    top: 0;
    left: 2px;
}

.article-text .input-range {
    height: 1rem;
    position: relative;
    width: 300px;
}

.rc-slider-handle {
    border: solid 2px #ff7901;
}

.rc-slider-track {
    background-color: #ff7901;
}